@import "../../../styles/variables.scss";

.no_tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 238px;
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 50px;
}

.add_task {
    border-radius: 15px;
    width: 430px;
    height: 56px;
    font-size: 18px;
}
